@page "/list"
@using ServiceRepository
@inject IApprisalService service
@inject NavigationManager navman
<h3>Apprisallist</h3>

<div class="row">
   
    <div class="col-md-8">
        <button class="btn btn-primary" @onclick="(()=>redirectto())">Create New Apprisal</button>
        @if (apprisalModels == null)
        {
            <div>
                <h6>No data Found</h6>
            </div>            
        }
        else
        {
            <table class="table">
                <thead class="bg-gradient">
                    <tr>
                        <th>
                            <lable for="EvoluvationPeriod">Evoluvation Period</lable>
                        </th>
                        <th>
                            <lable for="Name">Name</lable>
                        </th>
                        <th>
                            <lable for="DateOfJoin">Date Of Join</lable>
                        </th>
                        <th>
                            <lable for="NumberOfLeavesTaken">Number Of Leaves Taken</lable>
                        </th>
                        <th>
                            <lable for="ClientDelivery">Client Delivery</lable>
                        </th>
                        <th>
                            <lable for="Responsibility">Responsibility</lable>
                        </th>
                        <th>
                            <lable for="Skills">Skills</lable>
                        </th>
                        <th>
                            <lable for="Certifiate">Certifiate</lable>
                        </th>
                        <th>
                            <lable for="AboutCourse">AboutCourse</lable>
                        </th>
                        <th>
                            <lable for="Feedback">Feedback</lable>
                        </th>
                        <th>
                            <h6 class="btn btn-info">Action</h6>
                        </th>
                    </tr>
                </thead>
                <tbody class="">
                    @foreach (var item in apprisalModels)
                    {
                        <tr>
                            <td>
                                <b>@item.EvoluvationPeriod</b>
                            </td>
                            <td>
                                <b>@item.Name</b>
                            </td>
                            <td>
                                <p>@item.DateOfJoin</p>
                            </td>
                            <td>
                                <p>@item.NumberOfLeavesTaken</p>
                            </td>
                            <td>
                                <p>@item.ClientDelivery</p>
                                <h6>@item.ClientDeliveryFeed</h6>
                            </td>
                            <td>
                                <p>@item.Responsibility</p>
                                <h6>@item.ResponsibilitiesFeed</h6>
                            </td>
                            <td>
                                <p>@item.Skills</p>
                                <h6>@item.SkillsFeed</h6>
                            </td>
                            <td>
                                <p>@item.Certifiate</p>
                            </td>
                            <td>
                                <p>@item.AboutCourse</p>
                            </td>
                            <td>
                                <p>@item.Feedback</p>
                            </td>
                            <td>
                                <button class="btn btn-success" @onclick="(() => Edit(item.ApprisalId))">Edit</button>
                                <button class="btn btn-danger" @onclick="(()=> Confirmation(item.ApprisalId) )">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {

    void Edit(int id)
    {
        navman.NavigateTo($"edit/{id}");
    }
    void Confirmation(int id)
    {
        service.Delete(id);
    }
    void redirectto()
    {
        navman.NavigateTo($"/add");
    }
}